{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load crispy_forms_tags %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block head %}
  <link rel="stylesheet" href="{% static 'tools/file_converter/styles.css' %}">
{% endblock head %}

{% block content %}
<div class="container mt-3">
  <div class="row align-items-md-stretch pt-2">

    {% comment %} Previously changed files section {% endcomment %}
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary h-100 p-5 bg-body-tertiary border rounded-3" style="width: 380px;">
      <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
        <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-5 fw-semibold">Previous File Conversions</span>
      </a>
      <div class="list-group list-group-flush border-bottom scrollarea">
        {% if user_files %}
          {% for files in user_files %}
            <a href="#" class="list-group-item list-group-item-action active py-3 lh-sm" aria-current="true" data-bs-toggle="modal" data-bs-target="#fileDownloadModal{{ files.id }}">
              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">File converted from X to Y</strong>
                <small>Wed</small>
              </div>
              <div class="col-10 mb-1 small">{{ files.input_file }}</div>
              <div class="col-10 mb-1 small">{{ files.output_file }}</div>
            </a>
    
            {% comment %} File download modal {% endcomment %}
            <div class="modal fade" id="fileDownloadModal{{ files.id }}" tabindex="-1" aria-labelledby="fileDownloadLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header bg-primary text-white">
                    <h1 class="modal-title fs-5" id="fileDownloadLabel">File Download</h1>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-6 text-center">
                        <a href="{{ files.input_file.url }}" download class="text-decoration-none">
                          <div class="mb-2">{{ files.input_file }}</div>
                          <button class="btn btn-primary download-button">Download</button>
                        </a>
                      </div>
                      <div class="col-6 text-center">
                        <a href="{{ files.output_file.url }}" download class="text-decoration-none">
                          <div class="mb-2">{{ files.output_file }}</div>
                          <button class="btn btn-primary download-button"> Download</button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <h3 class="m-3">No conversions have taken place.</h3>
        {% endif %}
      </div>
    </div>

    


    {% comment %} Form section {% endcomment %}
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Convert a Document</h2>
        <p>Convert your documents for free to a number of formats, such as PDF, TXT and PPT.</p>
        
        <div class="form-group text-center">
          <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors  %}
                    <span>{{error}}</span>
                {% endfor %}
            {% endif %}
            {{ form|crispy }}
            {% bootstrap_button button_type="submit" content="Convert" %}
          </form>
        </div>

      </div>
    </div>
      
  </div>
</div>
    

{% endblock content %}